@import "tailwindcss";

.active {
  background-color: #fee685;
  color: #0f172b;
}

::-webkit-scrollbar {
  display: none;
}
/* for chrome safari */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* for fireFox */
input[type-number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
